.header__lang-link {
    margin: 46px 48px 0 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}
.header__lang-link:first-of-type {
    margin: 46px 18px 0 0;
}
.header__lang-link:hover {
    text-decoration: underline;
}