.lead__figure-image {
    margin: 0;
    width: 100%;
}
@media (max-width: 1024px) {
    .lead__figure-image {
        max-width: 928px;
    }
}
@media (max-width: 768px) {
    .lead__figure-image {
        max-width: 768px;
    }
}
@media (max-width: 320px) {
    .lead__figure-image {
        max-width: 320px;
    }
}