.places {
    max-width: 984px;
    display: grid;
    gap: 80px;
    padding: 92px 0 92px;
    margin: 0 auto;
}
@media (max-width: 1024px) {
    .places {
        padding: 90px 0 92px;
        max-width: 924px;
    }
}
@media (max-width: 768px) {
    .places {
        padding: 92px 0 92px;
        max-width: 768px;
        gap: 72px;
    }
}
@media (max-width: 674px) {
    .places {
        padding: 0 0 30px;
        max-width: 400px;
        gap: 52px;
    }
}