.places {
    max-width: 984px;
    margin: 0 auto;
    padding: 92px 0 92px;
    display: grid;
    gap: 80px;
}
@media (width: 1024px) {
    .places {
        max-width: 924px;
        padding: 88px 0 92px;
    }
}