.photo-grid__item{
    margin: 0;
    max-width: 284px;
    min-height: 212px;
}
@media (width: 1024px) {
    .photo-grid__item{
        max-width: 300px;
        min-height: 224px;
    }
}
@media (width: 768px) {
    .photo-grid__item {
        max-width: 352px;
        min-height: 264px;
    }
}
@media (width: 320px) {
    .photo-grid__item {
        max-width: 288px;
        min-height: 216px;
    }
}