.lead__title {
    margin: 0 auto;
    max-width: 720px;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
}
@media (width: 1024px) {
    .lead__title {
        padding: 8px 0 0;
    }
}