@media (width: 1024px) {
    .footer__links {
        margin: 0 auto 0 48px;
    }
}
@media (width: 768px) {
    .footer__links {
        margin: 0 auto 0 24px;
    }
}
@media (width: 320px) {
    .footer__links {
        display: flex;
        flex-direction: column;
        margin: 0 auto 0 16px;
    }
}