.footer__copyright {
    margin: 0 48px 0 auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
}
@media (max-width: 1024px) {
    .footer__copyright {
    }
}
@media (max-width: 768px) {
    .footer__copyright {
        margin: 0 24px auto 0;
    }
}
@media (max-width: 674px) {
    .footer__copyright {
        margin: 16px 0 0 16px;
        line-height: 14px;
        text-align: start;
    }
}
@media (max-width: 320px) {
    .footer__copyright {
        margin: 16px 0 0 16px;
        line-height: 14px;
        text-align: start;
    }
}