.place__website-link {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFF;
    opacity: 1;
    transition: opacity 0.3s linear;
}
.place__website-link:hover {
    opacity: .8;
    transition: opacity 0.3s linear;
}
@media (max-width: 674px) {
    .place__website-link {
        margin: 12px auto 0;
    }
}