.intro {
    margin: 92px auto;
    max-width: 984px;
    display: flex;
    flex-direction: column;
}
@media (max-width: 1024px) {
    .intro {
        max-width: 928px;
    }
}
@media (max-width: 960px) {
    .intro {
        max-width: 960px;
        margin: 90px 0 0 24px;
    }
}
@media (max-width: 674px) {
    .intro {
        max-width: 674px;
        margin: 64px 16px 0;
    }
}
@media (max-width: 320px) {
    .intro {
        max-width: 320px;
    }
}