.cover__title {
    margin: 0 0 32px;
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #fff;
}
@media (max-width: 640px) {
    .cover__title {
        margin: 0 0 16px;
        font-size: 46px;
        line-height: 50px;
        max-width: 360px;
    }
}
@media (max-width: 320px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 240px;
    }
}