.lead__figure {
    margin: 64px auto 0;
    max-width: 984px;
}
@media (width: 1024px) {
    .lead__figure {
        margin: 56px auto 0;
        max-width: 928px;
    }
}
@media (width: 768px) {
    .lead__figure {
        margin: 56px auto 0;
        max-width: 768px;
    }
}
@media (width: 320px) {
    .lead__figure {
        margin: 40px auto 0;
        max-width: 320px;
    }
}