.place__url-heading {
    margin: 0 0 12px 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAA;
    text-transform: uppercase;
}
@media (max-width: 674px){
    .place__url-heading {
        margin: 32px auto 14px;
    }
}
  